<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>(GAME NAME PLACEHOLDER)</title>
  <link rel="stylesheet" href="game.css" type="text/css">
</head>
<body>
  <div>
    <h1>Game page</h1>
    <h1> Player Name: <%= name %> </h1>
    <h1 id="timer"></h1>
  </div>
  <button type="btn" id="starter">Ready Steady Go!</button>
  <canvas></canvas>
  <script src="/socket.io/socket.io.js"></script>
  <script src="index.js"></script>
</body>
</html>