<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="leaders.css" type="text/css">
  <title>Leader Board</title>
</head>

<body class="body">
  <header class="header">
    <h1><b>The Score Board</b></h1>
  </header>
  <div class="container">
    <div class="table">
      <h2 class="heading">Who is the Winner?</h2>
      <h3 class="title">
        Player's Points
      </h3>
      <div>
        <h4>
          <%= player1 %>: <%= points1 %>
        </h4>
        <h2> VS </h2>
        <h4>
          <%= player2%>:<%= points2 %>
        </h4>
      </div>
    </div>
  </div>
</body>

</html>