body {
  
  background: url(background.jpeg);
  background-size: cover;
  text-align: center;
}

.header {
  font-size: xx-large;
  font-family: fantasy;
  color: rgb(0, 0, 0);

}

.table {
  border: solid;
  padding: 60px;
  background-color: #7393B3;
  margin-left: 24%;
  margin-right: 24%;
  font-size: 30px;
}

.heading {
  font-size: 50px;
  font-family: fantasy;
  color: rgb(0, 0, 0);
}

.title {
  text-align: center;
}